.table-wrapper {
	--border-width: 0.4rem;
	--border-color: lightcoral;
	--spacing: 2vh;
	--scoreboard-size: calc(22vh - var(--spacing));
	--board-size: calc(100vh - var(--scoreboard-size) * 2 - var(--spacing) * 4);

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	align-items: center;
}
